<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <form action="/<% if (editing) { %>edit-product<% } else { %>add-product<% }%>", method="post">
        <label for="title">Title</label>
<input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title%><% } %>">
<label for="ImageURL">ImageURL</label>
<input type="text" name="imageUrl" id="image" value="<% if (editing) { %><%= product.imageUrl%><% } %>">
<label for="price">Price</label>
<input type="number" name="price" step="0.01" id="price" value="<% if (editing) { %><%= product.price%><% } %>" >
<label for="description">Description</label>
<% if(editing) { %>
     <input type="hidden" value="<%= product.id %>" name="productId">
<% } %>
<textarea name="description" id="description" rows="5" > <% if (editing) { %><%= product.description%><% } %> </textarea>
<button type="submit"><% if (editing) {%>Update Product <%} else{%> Add Product<%}%></button>
</form>
    <%- include('../includes/footer.ejs') %>
</body>
</html>