<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="overlay" data-overlay></div>

    <%- include('../includes/nav.ejs') %>
    <div class="product-container">

      <div class="container">
        <%- include('../includes/sidebar.ejs') %>
    <div class="product-main">

        <h2 class="title">Your Cart</h2>

        <div class="product-grid">
        
          <% if(products.length > 0) { %>
            <% products.forEach(prods => { %>
          <div class="showcase">
            <div class="showcase-banner">

              <img src="..<%= prods.productData.imageUrl %>" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
              <img src="../images/products/jacket-2.jpg" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">

              <p class="showcase-badge">15%</p>

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <div class="showcase-category"><%= prods.productData.title %></div>

              <div>
                <h3 class="showcase-title"><%= prods.productData.description %></h3>
              </div>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$<%= prods.productData.price %>.00</p>
                <del>$75.00</del>
              </div>
              <div>
                <h3 class="showcase-title"><%= prods.qty %> Quantity</h3>
              </div>
            <form action="/cart-delete-item" method="post">
              <button class="banner-btn" style="margin-bottom:0.6rem;">Delete</button>
              <input type="hidden" name="productId" value="<%= prods.productData.id %>" >
            </form>
    </div>
    </div>
    <%}) %>
    <%}else { %> 
    <h1>No Products</h1>
    <% } %>
    </div>
    </div>
      </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>