<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="overlay" data-overlay></div>

    <%- include('../includes/nav.ejs') %>
    <div class="product-container">

      <div class="container">
        <%- include('../includes/sidebar.ejs') %>
    <div class="product-main">

        <h2 class="title">Your Cart</h2>

        <div class="product-grid">
        
          <% if(products.length > 0) { %>
            <% products.forEach(prods => { %>
          <div class="showcase">
            <a href="/product/<%= prods.productId._id %>">
            <div class="showcase-banner">

              <img src="..<%= prods.productId.imageUrl %>" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
              <img src="../images/products/jacket-2.jpg" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">

              <p class="showcase-badge">15%</p>

              <div class="showcase-actions">

                <button class="btn-action">
                  <ion-icon name="heart-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="repeat-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <div class="showcase-category"><%= prods.productId.title %></div>

              <div>
                <h3 class="showcase-title"><%= prods.productId.description %></h3>
              </div>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$<%= prods.productId.price %>.00</p>
                <del>$75.00</del>
              </div>
              <div>
                <h3 class="showcase-title"><%= prods.quantity %> Quantity</h3>
              </div>
            </a>
            <form action="/cart-delete-item" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="banner-btn" style="margin-bottom:0.6rem;">Delete</button>
              <input type="hidden" name="productId" value="<%= prods.productId._id %>" >
            </form>
    </div>

    </div>
    
    <%}) %>
    <%}else { %> 
    <h1>No Products</h1>
    <% } %>
    </div>
    <% if(products.length > 0) { %>
    <form method="post" action="/order" class="order">
      <button type="submit" class="banner-btn" style="width: 100%; margin-top: 1rem;">Place Order</button>
    </form>
    <% }else { %>

      <a href="/shop" class="banner-btn" style="width: 100%; text-align: center; font-size: 20px; margin-top: 1rem;">Shop Now</a>
      <% } %>
    </div>
      </div>
      
    <%- include('../includes/footer.ejs') %>
</body>
</html>