<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

   
    <% if(orders.length > 0) { %>
        <% orders.forEach(order => { %>
<p><%= order._id %></p>
<% order.products.forEach(product =>{ %>
<li><%= product.product.title %></li>
<span><%= product.quantity %>  - <a href="/orders/<%= order._id %>">Invoice</a></span>
<%});%>

<%}) %>
<%}else { %> 
<h1>No Products</h1>
<% } %>
"

    <%- include('../includes/footer.ejs') %>
</body>
